<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>testWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.lxx.Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.lxx.Servlet.logoutServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>testFilter</filter-name>
    <filter-class>com.lxx.Filter.testFilter</filter-class>
    <init-param>
      <param-name>111</param-name>
      <param-value>111value</param-value>
    </init-param>
    <init-param>
      <param-name>222</param-name>
      <param-value>222value</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>testFilter2</filter-name>
    <filter-class>com.lxx.Filter.testFilter2</filter-class>
    <init-param>
      <param-name>111</param-name>
      <param-value>111value</param-value>
    </init-param>
    <init-param>
      <param-name>222</param-name>
      <param-value>222value</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.lxx.Filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>testFilter2</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>testFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.lxx.Listener.onlineCountNum</listener-class>
  </listener>
</web-app>